<div class="movieSearch">
  <div class="navBar">
      <div class="title">
          <p>MOVIE SEARCH APP</p>
      </div>
      <div class="loginDetails">
          <a href="">Create Account</a>
          <a href="">Login</a>
      </div>
  </div>
  <div class="searchSection">
      <div class="searchName">
          <p>Search Movie</p>
      </div>
      <div class="searchBox">
          <input type="text" [(ngModel)] = "movieName" placeholder="Enter movie name...">
          <button (click) = "handleMovies()">Search</button>
      </div>
  </div>
  <div class="blockForMovies">
      <div *ngFor = "let movie of movies">
          <div class="eachMovie">
              <div class="movieTitle">
                  <p>{{movie.original_title}}</p>

              </div>
               <div class="movieRelease">
                  <p>{{movie.release_date.slice(0,4)}}</p>
               </div>  
               <div class="movieOverview">
                  <p>{{movie.overview}}</p>

               </div>
          </div>
          
      </div>
  </div>
</div>